<%- include("partials/login-header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <main>
        <div id = "register-page">
            <img id = "login-icon-center" src = "images/tickr-logo-secondary.png">
            <h1 id = "login-title">Sign up.</h1>
            <% if(locals.err){ %>
                <div class = "my-2 px-3 py-2 incorrect-input">The email entered already exists.</div>
            <% } %>
            <form id = "register-form" action="/register" method="post">
                <input name = "username" id = "username-input" placeholder="Username" autocomplete="off">
                <input name = "fname" id = "fname-input" placeholder="First name" autocomplete="off">
                <input name = "lname" id = "lname-input" placeholder="Last name" autocomplete="off">
                <input name = "email" id = "email-input" placeholder="Email address" autocomplete="off">
                <input name = "password" id = "password-input" placeholder="Password" autocomplete="off">
                <button id = "register-submit" type="submit">Sign up</button>
            </form>
            <a id = "google-login-anchor" href = "/auth/google" role = "button"><img id = "google-login" src = "images/web_light_rd_SU@2x.png"></a>
            <div id = "account-already">Already have an account? <a href = "/" class = "anchor"><span id = "login-span">Login</span></a></div>
        </div>
    </main>
</body>
</html>